html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
@font-face {
  font-family: Teko-SemiBold;
  font-display: swap;
  font-weight: 600;
  src: url(../fonts/Teko-SemiBold.woff2) format("woff2")
}
@font-face {
  font-family: RobotoCondensed-Regular;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/RobotoCondensed-Regular.woff2) format("woff2")
}
@font-face {
  font-family: RobotoCondensed-Medium;
  font-display: swap;
  font-weight: 500;
  src: url(../fonts/RobotoCondensed-Medium.woff2) format("woff2")
}
@font-face {
  font-family: RobotoCondensed-Bold;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/RobotoCondensed-Bold.woff2) format("woff2")
}
@font-face {
  font-family: "FS Elliot Pro";
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/FS-Elliot-ProBold.woff2) format("woff2")
}
.svg-image-faq,
.svg-image-logo,
.svg-image-mail {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-image-faq {
  background-position: 93.1506849315% 36.9565217391%;
  background-size: 556.25% auto;
  width: 16px
}
.svg-image-faq:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 106.25%
}
.svg-image-faq-dims {
  width: 16px;
  height: 17px
}
.svg-image-logo {
  background-position: 0 0;
  background-size: 130.8823529412% auto;
  width: 68px
}
.svg-image-logo:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 92.6470588235%
}
.svg-image-logo-dims {
  width: 68px;
  height: 63px
}
.svg-image-mail {
  background-position: 100% 0;
  background-size: 423.8095238095% auto;
  width: 21px
}
.svg-image-mail:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 80.9523809524%
}
.svg-image-mail-dims {
  width: 21px;
  height: 17px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
* {
  box-sizing: border-box
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  color: #fff;
  font-family: RobotoCondensed-Regular,Arial,sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden
}
.container {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto
}
.container-footer {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px
}
@media (max-width:1540px) {
  .container-footer {
    max-width: 1490px;
    padding: 0 25px
  }
}
@media (max-width:1280px) {
  .container-footer {
    max-width: 1240px;
    padding: 0 20px
  }
}
@media (max-width:768px) {
  .container-footer {
    padding: 0 15px
  }
}
a {
  color: #fff
}
p {
  margin: 0
}
img {
  max-width: 100%
}
.mb-20 {
  margin-bottom: 10px
}
.header {
  position: absolute;
  width: 100%;
  z-index: 13
}
.header__inner {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px
}
.header__inner img {
  max-width: 322px
}
@media (max-width:1540px) {
  .header__inner {
    padding: 20px
  }
  .header__inner img {
    max-width: 254px
  }
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  background: #000;
  z-index: 101;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: linear-gradient(72.44deg,#c0f 0,#4900a5 73.5%,#22004e 100%);
  z-index: 20
}
@media (max-width:576px) {
  .preloader {
    background: linear-gradient(72.44deg,#22004e 0,#4900a5 59.36%,#6700ea 100%)
  }
}
.preloader.hide {
  opacity: 0;
  transition: opacity .5s ease-out;
  pointer-events: none
}
.preloader__center {
  width: 588px
}
@media (max-width:576px) {
  .preloader__center {
    width: 350px
  }
}
@media (max-width:360px) {
  .preloader__center {
    width: 300px
  }
}
.preloader__skin {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 120px;
  height: 120px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.preloader__skin img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  left: 50%;
  width: auto;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  opacity: 0
}
@media (max-width:576px) {
  .preloader__skin {
    width: 72px;
    height: 72px
  }
}
@media (max-width:360px) {
  .preloader__skin {
    width: 50px;
    height: 50px
  }
}
.main-title {
  margin-left: -5px;
  letter-spacing: -.05em;
  font-family: Teko-SemiBold,Arial,sans-serif;
  text-align: center;
  text-transform: uppercase;
  -webkit-filter: drop-shadow(0 0 30px #000);
  filter: drop-shadow(0 0 30px #000);
  font-size: 4.1vw;
  line-height: 2.8vw
}
@media (min-width:1921px) {
  .main-title {
    font-size: 80px;
    line-height: 70%
  }
}
@media (max-width:1024px) {
  .main-title {
    font-size: 8.4vw;
    line-height: 6.1vw
  }
}
@media (max-width:576px) {
  .main-title {
    font-size: 11.4vw;
    line-height: 8.3vw
  }
}
.wrap {
  max-width: 1920px;
  height: 100vh;
  height: var(--app-height);
  position: relative;
  background: #fff;
  overflow: hidden
}
@media (max-width:1024px) {
  .wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
}
.wrap.active1 .part2 {
  left: 29.4%
}
.wrap.active1 .part3 {
  left: 54.4%
}
.wrap.active1 .part4 {
  left: 79.4%
}
@media (max-width:1024px) {
  .wrap.active1 .part1 {
    width: 500px
  }
  .wrap.active1 .part2,
  .wrap.active1 .part3,
  .wrap.active1 .part4 {
    width: calc((100% - 500px)/ 3)
  }
}
@media (max-width:768px) {
  .wrap.active1 .part1 {
    width: 400px
  }
  .wrap.active1 .part2,
  .wrap.active1 .part3,
  .wrap.active1 .part4 {
    width: calc((100% - 400px)/ 3)
  }
}
@media (max-width:576px) {
  .wrap.active1 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  .wrap.active1 .part1 {
    width: calc(100vw - 100px)
  }
  .wrap.active1 .part2,
  .wrap.active1 .part3 {
    width: 50px
  }
  .wrap.active1 .part4 {
    width: 0
  }
}
.wrap.active1 .wrap__item::before {
  opacity: .7
}
.wrap.active2 .part1 {
  left: -2.2%
}
.wrap.active2 .part2 {
  left: 22.8%
}
.wrap.active2 .part3 {
  left: 52.2%
}
.wrap.active2 .part4 {
  left: 77.2%
}
@media (max-width:1024px) {
  .wrap.active2 .part2 {
    width: 500px
  }
  .wrap.active2 .part1,
  .wrap.active2 .part3,
  .wrap.active2 .part4 {
    width: calc((100% - 500px)/ 3)
  }
}
@media (max-width:768px) {
  .wrap.active2 .part2 {
    width: 400px
  }
  .wrap.active2 .part1,
  .wrap.active2 .part3,
  .wrap.active2 .part4 {
    width: calc((100% - 400px)/ 3)
  }
}
@media (max-width:576px) {
  .wrap.active2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  .wrap.active2 .part4 {
    width: 0
  }
  .wrap.active2 .part2 {
    width: calc(100vw - 100px)
  }
  .wrap.active2 .part1,
  .wrap.active2 .part3 {
    width: 50px
  }
}
.wrap.active2 .wrap__item::before {
  opacity: .7
}
.wrap.active3 .part1 {
  left: -2.2%
}
.wrap.active3 .part2 {
  left: 22.8%
}
.wrap.active3 .part3 {
  left: 47.8%
}
.wrap.active3 .part4 {
  left: 77.2%
}
@media (max-width:1024px) {
  .wrap.active3 .part3 {
    width: 500px
  }
  .wrap.active3 .part1,
  .wrap.active3 .part2,
  .wrap.active3 .part4 {
    width: calc((100% - 500px)/ 3)
  }
}
@media (max-width:768px) {
  .wrap.active3 .part3 {
    width: 400px
  }
  .wrap.active3 .part1,
  .wrap.active3 .part2,
  .wrap.active3 .part4 {
    width: calc((100% - 400px)/ 3)
  }
}
@media (max-width:576px) {
  .wrap.active3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  .wrap.active3 .part2::after {
    display: none
  }
  .wrap.active3 .part2,
  .wrap.active3 .part4 {
    width: 50px
  }
  .wrap.active3 .part3 {
    width: calc(100vw - 100px)
  }
  .wrap.active3 .part1 {
    width: 0
  }
}
.wrap.active3 .wrap__item::before {
  opacity: .7
}
.wrap.active4 .part1 {
  left: -2.2%
}
.wrap.active4 .part2 {
  left: 22.8%
}
.wrap.active4 .part3 {
  left: 47.8%
}
.wrap.active4 .part4 {
  left: 70.6%
}
@media (max-width:1024px) {
  .wrap.active4 .part4 {
    width: 500px
  }
  .wrap.active4 .part1,
  .wrap.active4 .part2,
  .wrap.active4 .part3 {
    width: calc((100% - 500px)/ 3)
  }
}
@media (max-width:768px) {
  .wrap.active4 .part4 {
    width: 400px
  }
  .wrap.active4 .part1,
  .wrap.active4 .part2,
  .wrap.active4 .part3 {
    width: calc((100% - 400px)/ 3)
  }
}
@media (max-width:576px) {
  .wrap.active4 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  .wrap.active4 .part2::after {
    display: none
  }
  .wrap.active4 .part4 {
    width: calc(100vw - 100px)
  }
  .wrap.active4 .part2,
  .wrap.active4 .part3 {
    width: 50px
  }
  .wrap.active4 .part1 {
    width: 0
  }
}
.wrap.active4 .wrap__item::before {
  opacity: .7
}
.wrap__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 5;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;
  display: none;
  z-index: 12
}
.wrap__inner.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-out
}
.wrap__tap {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: #1325f1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media (max-width:576px) {
  .wrap__tap {
    width: 50px;
    height: 50px
  }
}
.wrap__big-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 200px;
  text-transform: uppercase;
  font-family: Teko-SemiBold,Arial,sans-serif;
  line-height: 140px;
  letter-spacing: -.05em;
  text-align: center;
  -webkit-filter: drop-shadow(0 0 30px #000);
  filter: drop-shadow(0 0 30px #000)
}
@media (max-width:576px) {
  .wrap__big-title {
    font-size: 80px;
    line-height: 56px
  }
}
.wrap__item {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 29.4%;
  transition: left .2s ease-out
}
.wrap__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid #fff;
  background: 0 0;
  pointer-events: none;
  z-index: 5
}
.wrap__item.part2 {
  left: 25%;
  z-index: 5
}
.wrap__item.part3 {
  left: 50%;
  z-index: 6
}
.wrap__item.part4 {
  left: 75%;
  z-index: 7
}
.wrap__item.part4:after {
  border-right: none
}
.wrap__item.part1 .wrap__content {
  left: 50%
}
.wrap__item.part1:after {
  border-left: none
}
.wrap__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1325f1;
  opacity: 0;
  z-index: 5;
  pointer-events: none
}
.wrap__item.part1 .wrap__content {
  -webkit-transform: translateY(5%) translateX(-55%);
  transform: translateY(5%) translateX(-55%)
}
.wrap__item.part2 .wrap__content {
  -webkit-transform: translateY(5%) translateX(-52%);
  transform: translateY(5%) translateX(-52%)
}
.wrap__item.part3 .wrap__content {
  -webkit-transform: translateY(5%) translateX(-47%);
  transform: translateY(5%) translateX(-47%)
}
.wrap__item.part4 .wrap__content {
  -webkit-transform: translateY(5%) translateX(-45%);
  transform: translateY(5%) translateX(-45%)
}
@media (max-width:1024px) {
  .wrap__item {
    position: relative;
    left: 0!important;
    transition: width .2s ease-out;
    width: 25%
  }
}
.wrap__item.active::before {
  opacity: 0!important
}
.wrap__item.active .wrap__bg img {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out
}
.wrap__item.active .wrap__agent {
  width: 100%;
  transition: width .2s ease-out
}
.wrap__item.active .wrap__agent img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out
}
@media (max-width:1024px) {
  .wrap__item.active .wrap__agent img {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@media (max-width:1024px) {
  .wrap__item.active .wrap__agent {
    width: 500px
  }
}
@media (max-width:768px) {
  .wrap__item.active .wrap__agent {
    width: 400px
  }
}
@media (max-width:576px) {
  .wrap__item.active .wrap__agent {
    width: calc(100vw - 100px)
  }
}
.wrap__item.active .wrap__content {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 1;
  transition: all .2s ease-out
}
.wrap__same {
  position: relative;
  margin-bottom: -1vw
}
@media (min-width:1921px) {
  .wrap__same {
    margin-bottom: -24px
  }
}
.wrap__same img {
  width: 100%
}
@media (max-width:1280px) {
  .wrap__same {
    width: 90%
  }
}
@media (max-width:1024px) {
  .wrap__same {
    margin-bottom: -6%
  }
}
.wrap__bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  overflow: hidden
}
@media (max-width:1024px) {
  .wrap__bg {
    width: 500px
  }
}
@media (max-width:768px) {
  .wrap__bg {
    width: 400px
  }
}
@media (max-width:576px) {
  .wrap__bg {
    width: calc(100vw - 100px)
  }
}
.wrap__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out
}
@media (max-width:1024px) {
  .wrap__bg img {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
.wrap__agent {
  position: absolute;
  top: 0;
  left: 0;
  width: 88.5%;
  height: 100%;
  overflow: hidden;
  -webkit-transform-origin: center;
  transform-origin: center;
  transition: width .2s ease-out
}
@media (max-width:1024px) {
  .wrap__agent {
    width: 500px;
    height: 1660px;
    min-height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}
@media (max-width:768px) {
  .wrap__agent {
    width: 400px;
    height: 1200px
  }
}
@media (max-width:576px) {
  .wrap__agent {
    width: calc(100vw - 100px);
    height: 115%;
    transition: width .2s ease-out
  }
}
.wrap__agent img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out;
  -webkit-transform-origin: top center;
  transform-origin: top center
}
@media (max-width:1024px) {
  .wrap__agent img {
    -o-object-position: 13% top;
    object-position: 13% top
  }
}
@media (max-width:576px) {
  .wrap__agent img {
    -o-object-position: 43% top;
    object-position: 43% top
  }
}
.wrap__content {
  padding-bottom: 60px;
  height: 100%;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: calc(50% + 1px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(5%) translateX(-55%);
  transform: translateY(5%) translateX(-55%);
  opacity: 0;
  transition: all .2s ease-out
}
@media (max-width:1540px) {
  .wrap__content {
    padding-bottom: 30px;
    width: 90%
  }
}
@media (max-width:1024px) {
  .wrap__content {
    width: 490px
  }
}
@media (max-width:768px) {
  .wrap__content {
    width: 390px
  }
}
@media (max-width:576px) {
  .wrap__content {
    width: calc(100vw - 118px)
  }
}
.wrap__case {
  margin-bottom: -41%;
  margin-top: -42%;
  position: relative
}
body.touch .wrap__item::before {
  opacity: 0!important
}
body.touch .wrap__inner {
  padding: 0 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
body.rotate .wrap__agent {
  height: 100%;
  width: 300px
}
body.rotate .wrap__content {
  width: 200px;
  padding-bottom: 20px
}
body.rotate .main-title {
  font-size: 36px;
  line-height: 25px
}
body.rotate .wrap__same {
  margin-bottom: -5%
}
body.rotate .wrap.active1 .part1 {
  width: 300px
}
body.rotate .wrap.active1 .part2,
body.rotate .wrap.active1 .part3,
body.rotate .wrap.active1 .part4 {
  width: calc((100% - 300px)/ 3)
}
body.rotate .wrap.active2 .part2 {
  width: 300px
}
body.rotate .wrap.active2 .part1,
body.rotate .wrap.active2 .part3,
body.rotate .wrap.active2 .part4 {
  width: calc((100% - 300px)/ 3)
}
body.rotate .wrap.active3 .part3 {
  width: 300px
}
body.rotate .wrap.active3 .part1,
body.rotate .wrap.active3 .part2,
body.rotate .wrap.active3 .part4 {
  width: calc((100% - 300px)/ 3)
}
body.rotate .wrap.active4 .part4 {
  width: 300px
}
body.rotate .wrap.active4 .part1,
body.rotate .wrap.active4 .part2,
body.rotate .wrap.active4 .part3 {
  width: calc((100% - 300px)/ 3)
}
body.rotate .wrap__item.active .wrap__agent {
  height: 100%;
  width: 300px
}
body.rotate .btn-main__main {
  padding: 11px 42px;
  font-size: 16px;
  -webkit-clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0);
  clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0)
}
.btn-main {
  padding: 0;
  display: inline-block;
  font-size: 24px;
  font-family: RobotoCondensed-Bold,Arial,sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  background: 0 0;
  white-space: nowrap;
  border: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  line-height: 120%;
  cursor: pointer
}
.btn-main__main {
  padding: 16px 48px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: background .2s ease-out;
  background-color: #1325f1;
  -webkit-clip-path: polygon(30% 0,calc(100% - 13px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,13px 100%,0 50px,18px 0);
  clip-path: polygon(30% 0,calc(100% - 13px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,13px 100%,0 50px,18px 0);
  transition: background-color .2s;
  position: relative;
  z-index: 3;
  line-height: 117%
}
@media (max-width:1280px) {
  .btn-main__main {
    padding: 11px 31px;
    font-size: 16px;
    -webkit-clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0);
    clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0)
  }
}
@media (max-width:1024px) {
  .btn-main__main {
    padding: 16px 48px;
    font-size: 24px;
    -webkit-clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0);
    clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0)
  }
}
@media (max-width:576px) {
  .btn-main__main {
    padding: 11px 42px;
    font-size: 16px;
    -webkit-clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0);
    clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0)
  }
}
@media (max-width:360px) {
  .btn-main__main {
    padding: 11px 30px
  }
}
.btn-main__r {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  height: 100%;
  position: absolute;
  left: 4%;
  top: 0;
  width: 95%
}
.btn-main__r span {
  position: absolute;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0);
  clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0);
  background-color: #1325f1;
  opacity: .1;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out
}
@media (max-width:1280px) {
  .btn-main__r span {
    -webkit-clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0);
    clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0)
  }
}
@media (max-width:1024px) {
  .btn-main__r span {
    -webkit-clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0);
    clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0)
  }
}
@media (max-width:576px) {
  .btn-main__r span {
    -webkit-clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0);
    clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0)
  }
}
.btn-main__l {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  height: 100%;
  position: absolute;
  left: 1%;
  top: 0;
  transition: width .2s;
  width: 95%
}
.btn-main__l span {
  position: absolute;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0);
  clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0);
  background-color: #1325f1;
  opacity: .1;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out
}
@media (max-width:1280px) {
  .btn-main__l span {
    -webkit-clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0);
    clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0)
  }
}
@media (max-width:1024px) {
  .btn-main__l span {
    -webkit-clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0);
    clip-path: polygon(30% 0,calc(100% - 12px) 0,100% 10px,calc(100% - 18px) 100%,70% 100%,12px 100%,0 50px,18px 0)
  }
}
@media (max-width:576px) {
  .btn-main__l span {
    -webkit-clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0);
    clip-path: polygon(30% 0,calc(100% - 10px) 0,100% 10px,calc(100% - 13px) 100%,70% 100%,10px 100%,0 30px,13px 0)
  }
}
.btn-main:hover .btn-main__main {
  background: #eb4dc3;
  transition: background .2s ease-out
}
.btn-main:hover .btn-main__r span {
  background: #eb4dc3;
  transition: background .2s ease-out,-webkit-transform .2s ease-out;
  transition: background .2s ease-out,transform .2s ease-out;
  transition: background .2s ease-out,transform .2s ease-out,-webkit-transform .2s ease-out
}
.btn-main:hover .btn-main__r span:nth-child(1) {
  -webkit-transform: translateX(22px);
  transform: translateX(22px)
}
.btn-main:hover .btn-main__r span:nth-child(2) {
  -webkit-transform: translateX(40px);
  transform: translateX(40px)
}
.btn-main:hover .btn-main__r span:nth-child(3) {
  -webkit-transform: translateX(57px);
  transform: translateX(57px)
}
@media (max-width:1280px) {
  .btn-main:hover .btn-main__r span:nth-child(1) {
    -webkit-transform: translateX(16px);
    transform: translateX(16px)
  }
  .btn-main:hover .btn-main__r span:nth-child(2) {
    -webkit-transform: translateX(30px);
    transform: translateX(30px)
  }
  .btn-main:hover .btn-main__r span:nth-child(3) {
    -webkit-transform: translateX(44px);
    transform: translateX(44px)
  }
}
.btn-main:hover .btn-main__l span {
  background: #eb4dc3;
  transition: background .2s ease-out,-webkit-transform .2s ease-out;
  transition: background .2s ease-out,transform .2s ease-out;
  transition: background .2s ease-out,transform .2s ease-out,-webkit-transform .2s ease-out
}
.btn-main:hover .btn-main__l span:nth-child(1) {
  -webkit-transform: translateX(-22px);
  transform: translateX(-22px)
}
.btn-main:hover .btn-main__l span:nth-child(2) {
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px)
}
.btn-main:hover .btn-main__l span:nth-child(3) {
  -webkit-transform: translateX(-57px);
  transform: translateX(-57px)
}
@media (max-width:1280px) {
  .btn-main:hover .btn-main__l span:nth-child(1) {
    -webkit-transform: translateX(-16px);
    transform: translateX(-16px)
  }
  .btn-main:hover .btn-main__l span:nth-child(2) {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px)
  }
  .btn-main:hover .btn-main__l span:nth-child(3) {
    -webkit-transform: translateX(-44px);
    transform: translateX(-44px)
  }
}
.footer {
  background-color: #110f1d;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-family: RobotoCondensed-Medium,Arial,sans-serif
}
.footer__smoke {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -o-object-fit: cover;
  object-fit: cover
}
@media (max-width:1024px) {
  .footer__smoke {
    display: none
  }
}
.footer__wrap {
  padding: 52px 0 44px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative
}
@media (max-width:1024px) {
  .footer__wrap {
    display: block;
    padding: 32px 0 38px
  }
}
.footer__bullet {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  z-index: -1
}
@media (max-width:1024px) {
  .footer__bullet {
    display: none
  }
}
.footer__main {
  padding-left: 100px;
  padding-right: 30px;
  position: relative
}
@media (max-width:1024px) {
  .footer__main {
    padding: 0;
    text-align: center;
    margin-bottom: 18px
  }
}
.footer__copy {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700
}
@media (max-width:1024px) {
  .footer__copy {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px
  }
}
.footer__logo {
  position: absolute;
  left: 0;
  top: 0
}
@media (max-width:1024px) {
  .footer__logo {
    position: static;
    width: 50px;
    height: 50px;
    margin-bottom: 15px
  }
  .footer__logo .icon {
    width: 100%;
    height: 100%
  }
}
.footer__info {
  color: #78758c;
  margin-bottom: 28px;
  font-size: 16px
}
@media (max-width:1280px) {
  .footer__info {
    margin-bottom: 20px
  }
}
@media (max-width:768px) {
  .footer__info {
    font-size: 14px;
    margin-bottom: 12px
  }
}
.footer__info p {
  margin: 0
}
.footer__about {
  color: #4d4a64;
  font-size: 16px
}
@media (max-width:768px) {
  .footer__about {
    font-size: 14px
  }
}
.footer__about p {
  margin: 0
}
.footer__second {
  max-width: 580px;
  width: 100%
}
@media (max-width:1540px) {
  .footer__second {
    max-width: 500px
  }
}
@media (max-width:1024px) {
  .footer__second {
    margin: 0 auto
  }
}
.footer__box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px
}
@media (max-width:1024px) {
  .footer__box {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px
  }
}
.footer__payment {
  max-width: 250px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -10px
}
@media (max-width:1024px) {
  .footer__payment {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto
  }
}
.footer__payment-image {
  margin-right: 18px;
  margin-bottom: 10px
}
.footer__payment-image:nth-child(3n) {
  margin-right: 0
}
.footer__links {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:1024px) {
  .footer__links {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 16px
  }
}
.footer__links-item:not(:last-child) {
  margin-right: 30px
}
.footer__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4d4a64;
  text-decoration: none;
  font-weight: 700
}
.footer__link .icon {
  margin-right: 10px
}
.footer-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:1024px) {
  .footer-menu__list {
    display: block
  }
}
.footer-menu__item:not(:last-child) {
  margin-right: 30px
}
@media (max-width:1024px) {
  .footer-menu__item:not(:last-child) {
    margin: 0 0 15px
  }
}
.footer-menu__link {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ef436c;
  text-decoration: none
}
@media (max-width:1024px) {
  .footer-menu__link {
    text-align: center
  }
}
.cookies-policy-banner {
  background: #1d1a33;
  background: linear-gradient(60deg,#1d1a33 25%,rgba(54,14,115,.8590029762) 100%);
  bottom: -100%;
  height: auto;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 200;
  color: #fff;
  font-weight: 400
}
.cookies-policy-banner__inner-wrapper {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 25px 25px
}
@media (max-width:1280px) {
  .cookies-policy-banner__inner-wrapper {
    padding: 25px 15px
  }
}
@media (max-width:1024px) {
  .cookies-policy-banner__inner-wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px 10px
  }
}
.cookies-policy-banner__text-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 906px;
  width: 100%
}
@media (max-width:1024px) {
  .cookies-policy-banner__text-block {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 600px
  }
}
.cookies-policy-banner__text-block .icon-wrap {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  max-height: 100px;
  width: 6.25rem
}
@media (max-width:1024px) {
  .cookies-policy-banner__text-block .icon-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 80px;
    margin-bottom: 10px
  }
}
.cookies-policy-banner__text-block .text {
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 30px 0 30px;
  max-width: 746px
}
@media (max-width:1280px) {
  .cookies-policy-banner__text-block .text {
    margin: 0 15px 0 15px
  }
}
@media (max-width:1024px) {
  .cookies-policy-banner__text-block .text {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px
  }
}
.cookies-policy-banner__text-block .text .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px
}
@media (max-width:1280px) {
  .cookies-policy-banner__text-block .text .title {
    font-size: 22px
  }
}
@media (max-width:1024px) {
  .cookies-policy-banner__text-block .text .title {
    font-size: 20px
  }
}
@media (max-width:768px) {
  .cookies-policy-banner__text-block .text .title {
    font-size: 18px
  }
}
.cookies-policy-banner__text-block .text .titlep {
  color: #ccabd8;
  font-size: 20px;
  margin: 5px 0;
  font-weight: 400
}
@media (max-width:1280px) {
  .cookies-policy-banner__text-block .text .titlep {
    font-size: 14px
  }
}
.cookies-policy-banner__text-block .text .titlepa {
  text-decoration: none;
  color: #a560ff
}
.cookies-policy-banner__button-block {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
.cookies-policy-banner__button-block .accept-cookie-button {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5c49d0;
  -webkit-clip-path: polygon(12px 0,calc(100% - 12px) 0,100% 50%,calc(100% - 12px) 100%,12px 100%,0 50%);
  clip-path: polygon(12px 0,calc(100% - 12px) 0,100% 50%,calc(100% - 12px) 100%,12px 100%,0 50%);
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  height: 56px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 150px;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: unset;
  border: none;
  position: relative
}
.cookies-policy-banner__button-block .accept-cookie-button:hover {
  background-color: #a560ff
}
.cookies-policy-banner__button-block .accept-cookie-button .check-icon {
  background-color: #fff;
  display: inline-block;
  height: 13px;
  margin-left: 10px;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M20 4.095 17.986 2 7.554 12.848 2.014 7.05 0 9.145 7.554 17z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M20 4.095 17.986 2 7.554 12.848 2.014 7.05 0 9.145 7.554 17z'/%3E%3C/svg%3E");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 18px
}
.button__content {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}
@-webkit-keyframes fadeIn {
  0% {
    bottom: -100%
  }
  100% {
    bottom: 0
  }
}
@keyframes fadeIn {
  0% {
    bottom: -100%
  }
  100% {
    bottom: 0
  }
}
/*# sourceMappingURL=maps/main.css.map */
